/* Keyframes */

@include keyframes(fadeIn) {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@include keyframes(fadeInSpin) {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    visibility: visible;
    transform: rotate(360deg);
  }
}

@include keyframes(fadeInFresh) {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@include keyframes(heart) {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  80% {
    opacity: 0.9;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
