/* Colors */
$primary: rgb(147, 86, 220);
$secondary: rgb(255, 121, 218);
$tertiary: rgb(153, 226, 208);
$gradient: linear-gradient(
  to right,
  $primary 30%,
  $secondary 60%,
  $tertiary 100%
);

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(48, 48, 48);
$gray-light: rgb(246, 246, 246);
$gray-20: rgba(48, 48, 48, 0.2);
$gray-10: rgba(48, 48, 48, 0.1);
$green: rgb(102, 205, 170);
$green-text: rgb(0, 100, 0);

$shadow-black: rgba(0, 0, 0, 0.2);
