// Tablette - Mobile
@media screen and (min-width: 768px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

footer {
  padding: 25px 0;
  background: $gray;
}

.footer {
  &__fix--margin-top {
    margin-top: -50px;
  }
  &__logo {
    height: 20px;
    margin-bottom: 10px;
    path {
      fill: $white;
    }
  }

  &__others {
    display: flex;
    flex-direction: column;
    padding: 5px 40px;
  }

  &__link {
    color: $white;
    padding: 5px 0;
    transition: color 0.5s;

    &:hover {
      color: $primary;
    }
  }

  &__icon {
    margin-right: 10px;
    height: 14px;
    width: 14px;
  }
}
