// Tablette and more
@media screen and (min-width: 768px) {
  header {
    i {
      font-size: 25px;
    }
  }
}

header {
  position: sticky;
  top: 0;
  z-index: 500;
  background: rgba($white, 0.9);
  height: 60px;
  @include flexCenter();
  @include shadow(0, 2px, 3px, null);

  i {
    @include absolute(50%, null, null, 2%);
    transform: translate(50%, -50%);
    font-size: 20px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $primary;
      transform: translateY(-50%);
    }
  }
}

.header {
  &__logo {
    height: 40px;
    margin: 10px;
  }
}
