/* mixins */

@mixin keyframes($keyframes) {
  @keyframes #{$keyframes} {
    @content;
  }
}

@mixin animation($animation) {
  animation: #{$animation};
}

@mixin absolute($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}
