.icon-heart {
  cursor: pointer;
  font-size: 25px;

  &--unliked {
    color: $black;
  }

  &--liked {
    color: transparent;
    background-image: linear-gradient(to top, $secondary, $primary);
    background-clip: text;
    -webkit-background-clip: text;
    @include animation(heart 2s);
  }
}

// use to switch icon (show/hidden)
* > .fa-heart.icon-heart--liked,
*:hover > .fa-heart.icon-heart--unliked {
  display: none;
}
*:hover > .fa-heart.icon-heart--liked {
  display: inline-block;
}
