.icon-heart {
  font-size: 25px;
  color: $black;

  &:hover {
    @include colorGradiant(
      0deg,
      rgba($secondary, 0.9),
      rgba($primary, 0.9) 80%,
      null
    );
    @include animation(heart 1.2s);
    animation-iteration-count: 3;
  }
}
